<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BallBotGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BallBotGui.Properties.Settings>
            <setting name="curBotKey" serializeAs="String">
                <value>0000</value>
            </setting>
            <setting name="curChatId" serializeAs="String">
                <value>-1001912154644</value>
            </setting>
            <setting name="pollQuestion" serializeAs="String">
                <value>Волейбол в ЗАЛЕ с 8 до 10 вечера.</value>
            </setting>
            <setting name="questTuesday" serializeAs="String">
                <value>Вторник. 20.00-22.00</value>
            </setting>
            <setting name="questThursday" serializeAs="String">
                <value>Четверг 20.00-22.00</value>
            </setting>
            <setting name="questSunday" serializeAs="String">
                <value>Воскресенье 20.00-22.00</value>
            </setting>
            <setting name="questSkip" serializeAs="String">
                <value>Пропускаю. Но очень хочу играть.</value>
            </setting>
            <setting name="pollDay" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="pollHour" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="mainQuestion" serializeAs="String">
                <value>Играю!</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>-1001645946649</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value>-912842250</value>
            </setting>
            <setting name="pollDayList" serializeAs="String">
                <value>5,6,2,4</value>
            </setting>
            <setting name="pollBeforeGame" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="pollTitleTemplate" serializeAs="String">
                <value>{dayName} 19.00-21.00</value>
            </setting>
        </BallBotGui.Properties.Settings>
    </userSettings>
</configuration>